@mixin flexBox($direction, $axisX, $axisY) {
  display: flex;
  flex-direction: $direction;
  justify-content: $axisX;
  align-items: $axisY;
}

@mixin dimensions($unitH, $unitW) {
  height: $unitH;
  width: $unitW;
}

@mixin borderRadius($pixels) {
  border-radius: $pixels
}

@mixin outlineStyling($color, $offset, $width, $style) {
  outline-color: $color;
  outline-offset: $offset;
  outline-width: $width;
  outline-style: $style;
}

@mixin underlineStyling() {
  text-decoration: underline;
  text-decoration-color: $accent-color;
}
