// Colors
$section-background-color: white;
$accent-color: #FFA726;
$main-font-color: white;
$secondary-font-color: black;

// Font
$font: 'Prompt', sans-serif !important;

// Decoration
$radius-pixels: 4px;
$button-text-shadow: 0px 0px 5px black;
