@import './_reset';
@import './_variables';
@import './_mixins';

button {
  margin: 0px;
  padding: 0px;
  border: none;
  cursor: pointer;
}

* {
  font-family: $font;
}

body {
  @include flexBox(column, space-around, center);
  @include dimensions(100vh, 100%);
  background-image: url('../images/overlook-view.png');
  background-size: $full100 $full100;
}

h1 {
  font-family: $font;
  font-size: xxx-large;
  transform: translateY(10px);
}

h1,
h2,
a {
  color: $main-font-color;
}

h2,
a,
.book-now,
.confirm-booking,
.decline-booking {
  font-size: xx-large;
}

main {
  @include flexBox(row, space-evenly, center);
  @include dimensions(90%, 90%);
}

.main-column-left {
  @include dimensions(80%, 45%);
}

.your-bookings-container {
  position: relative;
  @include flexBox(column, none, center);
  @include dimensions(92%, 100%);
  overflow-y: scroll;
  transform: translateY(6px);
  padding-top: 4px;
}

.panel {
  @include flexBox(row, space-between, center);
  @include dimensions(30%, 98%);
  @include borderRadius($radius-pixels);
  background: $section-background-color;
  margin-bottom: 3%;
}

.no-results {
  justify-content: center;
}

.booked-rooms {
  cursor: default;
  pointer-events: none;

  &:focus {
    outline-color: $accent-color;
    outline-offset: 1px;
    outline-width: 3px;
    outline-style: solid;
  }
}

.booking-image {
  @include dimensions(95%, 220px);
  @include borderRadius($radius-pixels);
  margin-left: 1%;
}

.booking-info {
  @include flexBox(column, space-between, flex-start);
  @include dimensions(30%, 95%);
  font-size: medium;
}

.panel-right-side {
  @include flexBox(column, space-around, flex-start);
  @include dimensions(100%, 58%);
}

.panel-title,
.section-title {
  font-size: x-large;
}

.panel-right-bottom {
  @include flexBox(row, space-between, flex-end);
  @include dimensions(none, 95%);
}

.available-room {

  &:hover {
    outline-color: $accent-color;
    outline-offset: 1px;
    outline-width: 3px;
    outline-style: solid;
  }

  &:focus {
    outline-color: $accent-color;
    outline-offset: 1px;
    outline-width: 5px;
    outline-style: dotted;
  }
}

.room-amenities {
  text-align: left;
}

li::before {
  content: '+ ';
}

.price {
  font-size: xx-large;
  margin-bottom: -10px;
}

.price-label {
  text-align: right;
}

.main-column-right {
  @include flexBox(column, none, none);
  @include dimensions(80%, 45%);
}

nav {
  @include flexBox(row, flex-end, none);

  .link {
    text-align: right;
    cursor: pointer;
  }

  .separator {
    color: $accent-color;
    padding: 0px 15px;
    cursor: default;
  }
}

.current-view {
  color: #999999;
  cursor: default;
  pointer-events: none;
}

.main-column-right-sections-container {
  @include flexBox(column, space-between, none);
  @include dimensions(100%, none);
  padding-top: 10px;
}

.cost-info-container {
  @include flexBox(column, space-between, none);
  @include dimensions(33%, none);
  @include borderRadius($radius-pixels);
  box-sizing: border-box;
  padding: 4%;
  background: $section-background-color;
}

.cost-wrapper {
  @include flexBox(row, space-between, none);
}

.input-wrapper {
  @include flexBox(row, space-around, none);
}

.cost-label {
  align-self: flex-end;
}

.cost {
  font-size: xxx-large;
  color: black;
}

.date-wrapper,
.dropdown-wrapper {
  @include flexBox(column, none, none);
}

label {
  font-size: small;
  padding-left: 3px;
  padding-bottom: 3px;
}

.input-date,
.input-room-type,
.search-rooms {
  @include borderRadius($radius-pixels);
  border: 1px solid black;
  text-align: center;
  font-size: medium;
  cursor: pointer;

  &:hover {
    border: 1px solid $accent-color;
  }
}

.input-date {
  @include dimensions(41px, 155px);
}

.input-room-type {
  @include dimensions(44px, 200px);
  height: 44px;
}

.search-rooms {
  @include dimensions(44px, 150px);
  @include borderRadius($radius-pixels);
  transform: translateY(16px);
  background: $section-background-color;
  color: black;

  &:hover {
    background-color: $accent-color;
    border: 1px solid black;
    color: $main-font-color;
    text-shadow: $shadow;
  }
}

.prompt-button-container {
  @include flexBox(column, center, center);
  @include dimensions(65%, 100%);
}

.prompt-button-wrapper {
  @include flexBox(column, space-evenly, center);
  @include dimensions(100%, 100%);
}

.prompt-background {
  box-sizing: border-box;
  border: 5px dotted $accent-color;
  @include borderRadius($radius-pixels);
}

.greeting,
.prompt {
  color: $main-font-color;
  text-shadow: -3px -2px 0px black;
  text-align: center;
  font-size: 50px;
}

.prompt {
  padding: 0px 10px;
}

.greeting {
  margin: 0px;
}

span {
  text-decoration: underline;
  text-decoration-color: $accent-color;
}

.button-wrapper {
  @include flexBox(row, space-evenly, center);
  @include dimensions(80px, 100%);
}

.book-now,
.confirm-booking,
.decline-booking {
  @include dimensions(80px, 280px);
  @include borderRadius($radius-pixels);
  background: $accent-color;
  border: none;
  color: $main-font-color;
  font-weight: 500;
  text-shadow: $shadow;

  &:hover {
    outline-color: $section-background-color;
    outline-offset: 1px;
    outline-width: 3px;
    outline-style: solid;
  }

  &:focus {
    outline-color: $section-background-color;
    outline-offset: 1px;
    outline-width: 3px;
    outline-style: solid;
  }
}

.confirm-booking,
.decline-booking {
  @include dimensions(80px, 200px)
}

.focused {
  outline-color: $accent-color;
  outline-offset: 1px;
  outline-width: 3px;
  outline-style: solid;
}

.invalid {
  border: 3px solid red;

  &:hover {
    border: 3px solid red;
  }
}

.not-clickable {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  color:#696969;
  border-color: #696969;

  &:hover {
    border-color: #696969;
  }
}

.hidden {
  display: none;
}
